@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --index: calc(1vw + 1vh);
  --glow-color: hsl(186 100% 69%);
  --glow-color: #fff6a9;
}
:target {
  scroll-margin-top: 4em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  background: url(..//img/header-fon.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  background: #490c4c;
}
.navbar-logo {
  position: relative;
}
.navbar-logo::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 1;
  background: #490c4c;
  animation: anim 2s linear 1 forwards 0.5s;
  -webkit-animation: animLogo 2s linear 1 forwards 0.5s;
}
@keyframes animLogo {
  0% {
    box-shadow: none;
    border-left: none;
    transform: translateX(0);
  }
  2% {
    border-left: 1px solid #fff6a9;
    -webkit-box-shadow: -15px 0px 15px -10px rgba(255, 246, 169, 1);
    -moz-box-shadow: -15px 0px 15px -10px rgba(255, 246, 169, 1);
    box-shadow: -15px 0px 15px -10px rgba(255, 246, 169, 1);
  }
  100% {
    box-shadow: none;
    border-left: none;
    transform: translateX(110%);
  }
}
@-webkit-keyframes animLogo {
  0% {
    box-shadow: none;
    border-left: none;
    transform: translateX(0);
  }
  2% {
    border-left: 1px solid #fff6a9;
    -webkit-box-shadow: -15px 0px 15px -10px rgba(255, 246, 169, 1);
    -moz-box-shadow: -15px 0px 15px -10px rgba(255, 246, 169, 1);
    box-shadow: -15px 0px 15px -10px rgba(255, 246, 169, 1);
  }
  100% {
    box-shadow: none;
    border-left: none;
    transform: translateX(110%);
  }
}

.nav-link,
.phone-link-navbar {
  color: white;
}
/* -----neon---- */
.sign-wrap-3 {
  text-align: center;
  padding: 60px 20px;
}
.sign-wrap-3 .sign_word {
  font-weight: bold;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  /* -webkit-animation: neon-3 4s steps(1, start) infinite reverse;
  animation: neon-3 4s steps(1, start) infinite reverse; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00,
    0 0 98px #ff0000;
  color: #fff6a9;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000,
      0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000,
      0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
/* --- */
@keyframes neon-3 {
  0% {
    color: #0b3960;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
  80% {
    color: #fff;
    text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 40px #79a7fc;
  }
  81% {
    color: #e1f5fe;
    text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 40px #79a7fc;
  }
  82% {
    color: #0b3960;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
  83% {
    color: #e1f5fe;
    text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 40px #79a7fc;
  }
  84% {
    color: #0b3960;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
  85% {
    color: #e1f5fe;
    text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 40px #79a7fc;
  }
  100% {
    color: #0b3960;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
}
@-webkit-keyframes neon-3 {
  0% {
    color: #0b3960;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
  80% {
    color: #fff;
    text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 40px #79a7fc;
  }
  81% {
    color: #e1f5fe;
    text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 40px #79a7fc;
  }
  82% {
    color: #0b3960;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
  83% {
    color: #e1f5fe;
    text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 40px #79a7fc;
  }
  84% {
    color: #0b3960;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
  85% {
    color: #e1f5fe;
    text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 40px #79a7fc;
  }
  100% {
    color: #0b3960;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
}

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.4em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
  /* animation: border-flicker 2s linear infinite; */
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 1;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: #490c4c;
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 1em;
  }
}

/* ----- */
@media (max-width: 991px) {
  .navbar-id ul,
  .navbar-page ul {
    display: flex;
    align-items: center;
  }
  .phone-link-navbar {
    display: block;
    margin: 0 auto;
  }
}
